@page
@using MyLittleDic.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    @foreach(var entry in Model.entries){
        <div>
        <h4 class="h4"><strong>@entry.lemma.word</strong> <a class="text-muted align-content-sm-end" >edit</a></h4><hr>
        <h6 class="text-muted">@entry.langName - @entry.posName</h6>
        <ol>
            @foreach(var def in entry.defList){
                <li>@def.descr</li>
            }
        </ol>
        <table class="table table-striped table-bordered table-hover table-sm">
            <caption>Forms of the word <strong>@entry.lemma.word</strong> (@entry.defList.First().descr)</caption>
            <colgroup>
                <col class="col-md-4">
                <col class="col-md-7">
            </colgroup>
        @foreach(var word in entry.wordsForms){
            <tbody>
                <tr>
                    <td>@word.formName</td>
                    <td>@word.word</td>
                </tr>
            </tbody>
        }
        </table>
        </div>
        

    }
</div>