@page
@using MyLittleDic.Models
@model MyLittleDic.Pages.SetFormsModel
@{
}

<script>
	function PassForms(){
		var idLang = document.getElementById("language").value;
		var idPos = document.getElementById("pos").value;
		var urlString = "AddWords?usedForms="
		
		//window.location.href = "AddWords?codeEntry="  + "&idPos=" + idPos;
	}
</script>

<div>
	<h3>Language: <strong>@Model.lang.nameLanguage</strong></h3>
	<h3>Part of Speech: <strong>@Model.pos.namePos</strong></h3>
	<br /><br>
	<form id="AddForm" method="post" name="AddForm">

		<input type="text" class="disabled" name="EntryID" value="@Model.entry.idEntry" />

		<fieldset >
			<legend>Choose which form you want to edit</legend>
			
			@foreach(var forma in Model.langForms){

				
				<input class="form-check-input" type="radio" name="form" id="@forma.idForm" value="@forma.idForm" required>
							
					if (Model.wordList.Exists(x => x.idForm == forma.idForm))
					{
						string currWord = Model.wordList.Find(x => x.idForm == forma.idForm).word;
						<label class="form-check-label" for="@forma.idForm">@forma.nameForm, Current: <strong>@currWord</strong></label>
					}
				
					else{
						<label class="form-check-label" for="@forma.idForm">@forma.nameForm</label>
					}
				<br />
			}
			

		</fieldset><br />
		Enter the form: <input type="text" class="form-control" id="word" name="word" required><br />
		
		<button class="btn btn-primary" id="AddWord" name="AddWord" value="@Model.entry.idEntry" type="submit">Add form</button>

	</form>

</div>
